$gray-color: #868e96;
$violet-color: #cc5de8;
$white-color: #fff;
$black-color: #000;
$light-gray: #dee2e6;
$light-violet: rgba(204, 93, 232, 0.4);
$medium-gray: #868e96;
$dark-gray: #495057;

$max-width: 750px;
